/*RIGHT CLICK+INSPECT while hovering over an eleement takes you to your sandbox. 
Able to play on the website in real time before saving changes.*/

h1, h2, h3, p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/*Able to define mulptiple elements with same style, seen above. Use when getting more 
specific with certain global elements on site.*/

h1 {
  color: #228B22;
  margin: 0;
  font-size: 70px;
}

/*Always use hex code or rgb for css colors, never name*/
/**/

h2 {
  color: #32CD32;
  margin: -10px;
  font-size: 30px;
}


h3 {
  color: #228B22;
  margin: 0;
  margin-top: 42px;
  font-size: 22px;

}

p {
  color: #228B22;
  margin: 0;
  font-size: 19px;
}

/*Notes on margin and padding: Margin seperates elements from each other
padding adds buffer to the elements themselves*/
/*Defaulting to margin: 0; -- allows you to begin from scratch with margin and spacing*/


.centered {
  text-align: center;
}

#main-site-banner {
  margin-top: 20px;
  margin-bottom: 10px;
}

#main-site-image {
  margin-top: 28px;
  margin-bottom: 75px;
}

#main-paragraph {
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
